{% load static %}
<html>

    <head>
    </head>

    <body>
        <div id='toolbar'>
            <span id='site-logo'>
                <img src="{%static 'site-logo.png' %}" alt='MyAnimeOpeningList Logo'>
            </span>

            <span id='social-block'>

                <span class='dropdown' id='profile-link'>
                        <div class='dropbtn' onclick='myFunction()'>
                            <p id='profile-text'>Username</p>
                            <i class="fas fa-caret-down"></i>
                        </div>
                    <div id='myDropdown' class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                    </div>
                </span>
            
                <span id='profile-box'>
                    <img id='profile-image' src="{%static 'profile-placeholder.png' %}" alt='MyAnimeOpeningList Logo'>
                </span>
            </span>

        </div>
    </body>
</html>